.scanner {
    display: flex;
    justify-self: center;
    align-self: center;
}
.bookList{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.thumbnail {
    border:rgb(0, 0, 0);
    display: flex;
    border-style: solid;
    align-items: center;
    justify-content: center;
}
.scan{
    display: flex;
    align-content: center;
    justify-content: center;
}